<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/login.css">
<!--    <link rel="stylesheet" href="../static/styles/normalize.css">-->
<!--    <link rel="stylesheet" href="../static/styles/login.css">-->
</head>
<body>
<header></header>
<main>
<form action="/login" method="post">
    <div class="title">
        <img src="https://i.pinimg.com/564x/2e/d6/38/2ed6385441758f577226545fb39a2d1a.jpg" alt="">
        <h1>로그인 페이지</h1>
    </div>
    <div class="content">
        <div class="options">
            <div class="option">
                <label for="id">Id</label>
                <input id="id" type="text" name="id" placeholder="id" required autofocus>
            </div>
            <div class="option">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="password" required>
            </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input class="submit" type="submit" value="로그인">
    </div>
</form>
</main>
<footer></footer>
</body>
</html>